@model Cart

<div class="cart">
    @if (Model.Lines.Any())
    {
        <small class="navbar-text cart-info">
            <b>Your cart:</b>
            @Model.Lines.Sum(x => x.Quantity) item(s)
            @Model.ComputeTotalValue().ToString("0.00")$
        </small>
    }
    <a  class="shopping-cart btn btn-sm btn-secondary navbar-btn"
       asp-controller="Cart" asp-action="Index"
       asp-route-returnUrl="@ViewContext.HttpContext.Request.PathAndQuery()">
        <i class="fa fa-shopping-cart"></i>
    </a>
</div>