<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/a5c0cce0-50b1-4e63-b7dd-dc06c872dc8c/resourcegroups/DefaultResourceGroup-SCUS/providers/Microsoft.Web/sites/SportsStore2022</ResourceId>
    <ResourceGroup>DefaultResourceGroup-SCUS</ResourceGroup>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://sportsstore2022.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>a6365cfd-28d0-4170-85db-0df12a01009b</ProjectGuid>
    <PublishUrl>https://sportsstore2022.scm.azurewebsites.net/</PublishUrl>
    <UserName>$SportsStore2022</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>