@import "import.css";

div.wrap {
    width: 100%;
    height: 100%;
}

header.navbar {
    height: 12vh;
}

header.navbar > .row {
    align-items: center;
    padding: 15px 20px;
}

header.navbar > .row > a {
    color: var(--font-color);
}

img.logo {
    width: 40px;
}

.cart {
    padding: 0 12.5px;
}

.cart > .cart-info {
    color: var(--font-color);
    padding: 10px;
}

.cart .shopping-cart {
    font-size: 1.75rem;
    border-radius: 50px;
}

.section {
    width: 100%;
    min-height: 88vh;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

#categories {
    width: 15%;
    padding: 15px 0;
}

#categories a {
    width: 100%;
    padding: 0.5rem 2.5rem;
    color: var(--font-color);
    border-radius: 0;
    text-align: justify;
    word-break: break-all;
}

#categories a:hover, .selected-category {
    background: var(--bg-color-alpha);
    text-shadow: 0 0 1.5px white;
}

main.products {
    width: 85%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

main.products > * {
    padding: 15px;
}

main.products > * > h2, main.products > * > p {
    text-align: center;
}

div.products {
    display: flex;
    flex-direction: column;
    align-items: center;
}

div.products-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

div.completed {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

div.completed > img {
    display: block;
    width: 400px;
}

footer.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
    color: var(--font-color);
}

footer img {
    width: 80px;
    fill: var(--font-color);
}

footer a.btn-outline-secondary:hover {
    color: var(--bg-color);
}